* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: grey;
}

.wrapper {
	height: 690px;
	margin: 100px auto 0;
	position: relative;
	width: 800px;
    background-color:rgb(34, 33, 33);
}

.slider {
    top: 5%;
    margin: 0px auto 0;
    height: 490px;
    overflow: hidden;
    position: relative;
    width: 700px;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);

}

.slides {
	height: inherit;
	opacity: 0;
	position: relative;
    left: -100%;
	width: inherit;
	z-index: 0;
	transition: 1s;

}

.slide1 { 
    background-image: url(img/slide1.jpg) 
}
.slide2 { 
    background-image: url(img/slide2.jpg) ;
    top: -100%;
}

.slide3 { 
    background-image: url(img/slide3.jpg) ;
    top: -200%;
}

.slide4 { 
    background-image: url(img/slide4.jpg);
    top: -300%; 
}


#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	opacity: 1;
	z-index: 1;
    left: 0%;
}

.wrapper > input {
	display: none;
}

.wrapper .controls {
    left: 50%;
    margin-left: -98px;
    position: relative;
    top: 5%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	transition: 1s

}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
	background: #ddd;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
    border-radius: 50%;
	
}


